* {
    margin: 0;
    padding: 0;
}
/*--トップ--*/
.top-page {
    height: 100vh;
    width: 100vw;
    background-image: url(../IMG/top_background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.img02 {
    height: 100vh;

}
header {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
}
/*--header_left--*/
.logo {
    height: 100px;
}
/*--header_right--*/
li {
    font-size: 15px;
    float: left;
    margin-left: 50px;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
/*--about--*/
section {
    padding: 0 70px;
    padding-top: 100px;
    color: black;
}
h1 {
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
#about h2 {
    font-size: 70px;
    font-family: 'Parisienne', cursive;
    margin-top: 10px;


}
#about p {
    font-size: 18px;
    margin: auto;
    font-family: 'Noto Sans TC', sans-serif;
}
#about .contents-left img {
    height: 300px;
}
.about-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 70px;
}
/*.contents-right {
    margin-left: 50px;
}*/
/*--workout--*/
#workout h2 {
    margin-bottom: 0px;
    font-size: 23px;
}
#workout p {
    font-size: 18px;
    padding-top: 10px;
    
}
#workout img {
    height: 400px;
    margin-bottom: 20px;
}
.workout-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}
#workout {
    background-color: rgb(230, 208, 196);
}
/*--merit--*/
#merit {
    background-image:url(../IMG/tow-tone_backcolor.jpg);
    background-repeat:no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.box {
    height: 400px;
    width: 400px;
    border: 1px solid rgb(237, 230, 223);
    margin: o 15px;
    padding: 20px 30px;
    margin-bottom: 30PX;
}
.box h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;

}
.box p {
    font-size: 18px;
}
/*--contact--*/
#contact {
    /*margin-bottom: 200px;*/
    padding-bottom: 50px;
    background-color: rgb(145, 210, 197);
}
.contact-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
input, textarea {
    width: 40%;
    font-size: 23px;
    margin-bottom: 18px;
    padding: 3px 12px;
}
input, textarea, button {
    border-radius: 5px;
}
textarea {
    width: 30%;
}
button {
    width: 140px;
    font-size: 23px;
    padding: 7px;
    height: 60px;
    background-color: rgb(5, 65, 84);
    margin-top: 26px;
    cursor: pointer;
    color: white;
}
button:hover {
    background-color: rgb(230, 208, 196);
}
/*--footer--*/
footer {
    text-align: center;
    padding: 25px;
    background-color: rgb(5, 65, 84);
}
footer p {
    color: white;
}